In [4]:
import mysql.connector
import config

connection = mysql.connector.connect(**config.connection())

In [5]:
def get_data(query):
    '''This function returns the data from the database'''
    cursor = connection.cursor()
    cursor.execute(query)
    data = cursor.fetchall()
    return data

In [7]:
get_data("SHOW DATABASES;")

[('employees',),
 ('information_schema',),
 ('mavenfuzzyfactory',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

In [8]:
get_data("USE mavenfuzzyfactory;")

[]

In [9]:
get_data("SHOW TABLES;")

[('order_item_refunds',),
 ('order_items',),
 ('orders',),
 ('products',),
 ('website_pageviews',),
 ('website_sessions',)]

In [11]:
get_data('SELECT * FROM mavenfuzzyfactory.orders LIMIT 5;')

[(1,
  datetime.datetime(2012, 3, 19, 10, 42, 46),
  20,
  20,
  1,
  1,
  Decimal('49.99'),
  Decimal('19.49')),
 (2,
  datetime.datetime(2012, 3, 19, 19, 27, 37),
  104,
  104,
  1,
  1,
  Decimal('49.99'),
  Decimal('19.49')),
 (3,
  datetime.datetime(2012, 3, 20, 6, 44, 45),
  147,
  147,
  1,
  1,
  Decimal('49.99'),
  Decimal('19.49')),
 (4,
  datetime.datetime(2012, 3, 20, 9, 41, 45),
  160,
  160,
  1,
  1,
  Decimal('49.99'),
  Decimal('19.49')),
 (5,
  datetime.datetime(2012, 3, 20, 11, 28, 15),
  177,
  177,
  1,
  1,
  Decimal('49.99'),
  Decimal('19.49'))]

In [12]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_sql('SELECT * FROM mavenfuzzyfactory.orders;', con=connection)

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pandas/io/sql.py:758: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [15]:
df.head(10)

,order_id,created_at,website_session_id,user_id,primary_product_id,items_purchased,price_usd,cogs_usd
0,1,2012-03-19 10:42:46,20,20,1,1,49.99,19.49
1,2,2012-03-19 19:27:37,104,104,1,1,49.99,19.49
2,3,2012-03-20 06:44:45,147,147,1,1,49.99,19.49
3,4,2012-03-20 09:41:45,160,160,1,1,49.99,19.49
4,5,2012-03-20 11:28:15,177,177,1,1,49.99,19.49
5,6,2012-03-20 16:12:47,232,232,1,1,49.99,19.49
6,7,2012-03-20 17:03:41,241,241,1,1,49.99,19.49
7,8,2012-03-20 23:35:27,295,295,1,1,49.99,19.49
8,9,2012-03-21 02:35:01,304,304,1,1,49.99,19.49
9,10,2012-03-21 06:45:58,317,317,1,1,49.99,19.49